<span class="text-center">{{ project.nom }} {{ message }}</span>

<div class="text-left">
    <a class="btn btn-primary" type="button" href="{{ path('projects_details', {'id': project.id}) }}">
        Voir le Projet
    </a>
</div>