<li>
    <a class="app-menu__item {% if route == route_url  %} active {% endif %}" href="{{ route_url }}">
        <i class="app-menu__icon fa {{ route_icon }}"></i>
        <span class="app-menu__label">{{ route_name }}</span>
    </a>
</li>