<span class="text-center">Nouvel Employée ajoutée à la liste !</span>

<div class="text-center">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">
        Voir mot de passe
    </button>
</div>

<div class="collapse" id="collapsePassword">
    <p class="mt-5 text-center font-weight-bold">{{ password }}</p>
</div>